*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #e8edf3;
  padding: 1.5rem 0;
  font-family: "Courier New", Courier, monospace;
}

.main-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem;
  /* background: linear-gradient(to right, #23b699, #267a91); */
  background: rgb(58, 58, 58);
  color: #fff;
  z-index: 2;
}

.main-header__nav {
  display: flex;
  justify-content: space-between;
}

.main-header__items-list {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-header__list-item {
  text-decoration: none;
  margin: 0.4rem;
  color: inherit;
}

.active {
  color: #267a91;
  background: #fff;
  padding: 0.3rem 0.6rem;
  border-radius: 0.4rem;
}

.App {
  text-align: center;
  margin-bottom: 2rem;
}

.footer {
  position: fixed;
  bottom: 0rem;
  padding: 0 0 0.4rem 0;
  color: #fff;
  width: 100%;
  margin-top: 4rem;
  /* background: linear-gradient(to right bottom, #e6ffe9, #6fd88d); */
  background: rgb(58, 58, 58);
}

.footer a {
  text-decoration: none;
  color: #ffd61e;
  padding-bottom: 0.05rem;
  border-bottom: 0.4rem solid transparent;
}

.footer a:hover,
.footer a:visited,
.footer a:active {
  border-bottom: 0.1rem solid #ffd61e;
}

.grid {
  gap: 1rem;
  width: 95vw;
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
}

.home-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  align-items: flex-end;
  width: 90vw;
  margin: 0 auto;
  gap: 0.8rem;
}

.pallete-item {
  padding: 0.5rem;
  background: #fff;
  transition: all 0.4s;
}

.pallete-item:hover {
  transform: scale(1.03);
  box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.15);
}

.pallete-item > div {
  position: relative;
  width: 100%;
  padding: 7.5rem 0;
}

.pallete-item > span {
  display: inline-block;
  color: black;
  font-weight: 700;
  margin: 0.8rem;
  cursor: pointer;
}

.heading {
  background: linear-gradient(to right bottom, #417447, #6fd88d);
  -webkit-background-clip: text;
  color: transparent;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mt-3 {
  margin-top: 3rem;
}

.mt-4 {
  margin-top: 4rem;
}

.inline-block {
  display: inline-block;
}

.btn {
  padding: 0.6rem 1rem;
  color: #fff;
  border: none;
  margin: 0.8rem;
}

.btn:hover,
.btn:focus,
.btn:active {
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.4);
  outline: none;
}

.rounded {
  border-radius: 0.4rem;
}

.btn-blue {
  background: dodgerblue;
}

.rotate {
  backface-visibility: hidden;
}

.rotate-right {
  transform: rotateY(360deg);
}

.rotate-left {
  transform: rotateY(0deg);
}

.copied {
  position: absolute;
  bottom: -0.5rem;
  opacity: 0;
  background: #fff;
  padding: 0.5rem;
  border-radius: 0.4rem;
}

.copied-down {
  bottom: -0.5rem;
}

.copied-up {
  top: -0.5rem;
  height: 2rem;
}

.show-down {
  animation: show-down 0.8s ease-in-out forwards;
}

.show-up {
  animation: show-up 0.8s ease-in-out forwards;
}

.shutter {
  position: absolute;
  top: -3.2rem;
  left: -0.5rem;
  max-height: 0%;
  height: 143%;
  border-radius: 0.4rem;
  background: #fff;
  width: 106%;
  transition: all 0.4s;
}

.show-shutter {
  animation: shutter 0.5s ease-in-out;
}

@keyframes shutter {
  20% {
    max-height: 143%;
    opacity: 1;
  }

  100% {
    max-height: 0%;
    opacity: 0.8;
  }
}

@keyframes show-up {
  0% {
    opacity: 1;
  }

  20% {
    top: 0.5rem;
  }

  100% {
    visibility: hidden;
  }
}

@keyframes show-down {
  0% {
    opacity: 1;
  }

  20% {
    bottom: 0.5rem;
  }

  100% {
    visibility: hidden;
  }
}

@media screen and (max-width: 480px) {
  .pallete-item > div {
    padding: 5rem 0;
  }

  .grid {
    grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
  }

  .hide {
    display: none;
  }
}
