*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #e8edf3;
  padding: 1.5rem 0;
  font-family: "Courier New", Courier, monospace;
}

div.customColor {
  display: flex;
  flex-direction: column;
  margin: 0.8rem 0;
  justify-content: space-evenly;
  align-items: center;
}

input[type="color"] {
  -webkit-appearance: none;
  border: none;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  outline: none;
  background: none;
  box-shadow: 0 0px 2px 2px rgba(0, 0, 0, 0.5);
}
input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}
input[type="color"]::-webkit-color-swatch {
  border-radius: 50px;
  border: none;
}

.hamberger {
  display: none;
  position: absolute;
  top: 1.6rem;
  left: 0.8rem;
  height: 0.35rem;
  width: 2rem;
  background: #fff;
  border-radius: 1rem;
}
.hamberger::before,
.hamberger::after {
  display: none;
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background: inherit;
  border-radius: 1rem;
}

.hamberger::before {
  width: 85%;
  top: -0.4rem;
}

.hamberger::after {
  top: 0.4rem;
  width: 120%;
}

.main-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem;
  background: rgb(58, 58, 58);
  color: #fff;
  z-index: 30;
}

.main-header__nav {
  display: flex;
  justify-content: space-between;
}

.main-header__items-list {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-header__list-item {
  text-decoration: none;
  margin: 0.4rem;
  color: inherit;
}

.active {
  color: #267a91;
  background: #fff;
  padding: 0.3rem 0.6rem;
  border-radius: 0.4rem;
}

.App {
  text-align: center;
  margin-bottom: 2rem;
}

.footer {
  position: fixed;
  bottom: 0rem;
  padding: 0 0 0.4rem 0;
  color: #fff;
  width: 100%;
  margin-top: 4rem;
  background: rgb(58, 58, 58);
  z-index: 30;
}

.footer a {
  text-decoration: none;
  color: #ffd61e;
  padding-bottom: 0.05rem;
  border-bottom: 0.4rem solid transparent;
}

.footer a:hover,
.footer a:visited,
.footer a:active {
  border-bottom: 0.1rem solid #ffd61e;
}

.grid {
  gap: 1rem 0.3rem;
  width: 98vw;
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
}

.home-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  align-items: flex-end;
  width: 90vw;
  margin: 0 auto;
  gap: 0.8rem;
}

.pallete-item {
  padding: 0.5rem;
  background: #fff;
  transition: all 0.2s;
  margin: 0 0.25rem;
}

.pallete-item__save {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 1rem;
  bottom: -2.5rem;
  height: 2rem;
  width: 2rem;
  background: #3a3a3a;
  font-size: 1.8rem;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
}

.pallete-item__save:hover {
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.4);
  transform: scale(1.1);
}

.pallete-item:hover {
  transform: scale(1.015);
  box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.15);
}

.pallete-item > div {
  position: relative;
  width: 100%;
  padding: 7.5rem 0;
}

.pallete-item > span {
  display: inline-block;
  color: black;
  font-weight: 700;
  margin: 0.8rem;
  cursor: pointer;
}

.lock__unlock {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.lock__unlock > img {
  height: 3.5rem;
  transition: opacity 0.8s;
}

.heading {
  background: linear-gradient(to right bottom, #417447, #6fd88d);
  -webkit-background-clip: text;
  color: transparent;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mt-3 {
  margin-top: 3rem;
}

.mt-4 {
  margin-top: 4rem;
}

.inline-block {
  display: inline-block;
}

.btn {
  padding: 0.6rem 1rem;
  color: #fff;
  border: none;
  margin: 0.8rem;
}

.btn:hover,
.btn:focus,
.btn:active {
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.4);
  outline: none;
}

.rounded {
  border-radius: 0.4rem;
}

.btn-blue {
  background: #3f51b5;
}

.rotate {
  backface-visibility: hidden;
}

.rotate-right {
  /* transform: rotateY(360deg); */
  transform: rotateY(1080deg);
}

.rotate-left {
  transform: rotateY(0deg);
}

.copied {
  position: absolute;
  bottom: -0.5rem;
  opacity: 0;
  background: #fff;
  padding: 0.5rem;
  border-radius: 0.4rem;
}

.copied-down {
  bottom: -0.5rem;
}

.copied-up {
  top: -0.5rem;
  height: 2rem;
}

.show-down {
  animation: show-down 0.8s ease-in-out forwards;
}

.show-up {
  animation: show-up 0.8s ease-in-out forwards;
}

.shutter {
  position: absolute;
  top: -3.2rem;
  left: -0.5rem;
  max-height: 0%;
  height: 143%;
  border-radius: 0.4rem;
  background: #fff;
  width: 106%;
  transition: all 0.4s;
}

.show-shutter {
  animation: shutter 0.3s ease-in-out;
}

.shades__container {
  padding: 2.8rem 0.4rem;
  background: #fff;
  position: relative;
  border-radius: 0.4rem;
}

.saved__shades {
  position: absolute;
  bottom: 0.8rem;
  left: 50%;
  transform: translateX(-50%);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 70;
}

.sidebar {
  height: 100vh;
  background: #fff;
  color: #414141;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 0;
  max-width: 85%;
  list-style: none;
  overflow: hidden;
  transition: width 0.8s, padding 1s;
}

.sidebar > li {
  margin: 0.3rem 0;
}

.sidebar a {
  text-decoration: none;
  color: inherit;
  font-size: 1.2rem;
}

.show-sidebar {
  width: 15rem;
  padding: 1rem;
  max-width: 85%;
}

@keyframes shutter {
  20%,
  50%,
  80% {
    max-height: 143%;
    opacity: 1;
  }

  35%,
  65%,
  100% {
    max-height: 0%;
    opacity: 0.8;
  }
}

@keyframes show-up {
  0% {
    opacity: 1;
  }

  20% {
    top: 0.5rem;
  }

  100% {
    visibility: hidden;
  }
}

@keyframes show-down {
  0% {
    opacity: 1;
  }

  20% {
    bottom: 0.5rem;
  }

  100% {
    visibility: hidden;
  }
}

@media screen and (max-width: 480px) {
  .pallete-item__save {
    right: 0rem;
  }

  .main-header {
    padding: 1rem 0;
    font-size: 85%;
  }

  .pallete-item > div {
    padding: 3rem 0;
  }

  .pallete-item > div.custom_color_pallete_item {
    padding: 6rem 0;
  }

  .grid {
    grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
  }

  .hide {
    display: none;
  }
}

@media screen and (max-width: 720px) {
  .hamberger,
  .hamberger::after,
  .hamberger::before {
    display: block;
  }
  .main-header__nav {
    justify-content: center;
  }
  .main-header__items-list {
    display: none;
  }
}
